@page
@model Smart.Design.Razor.Showcase.Pages.Components.RadioButton.RadioButton
@{
    ViewData["MainTitle"] = "Components documentation";
    ViewData["ComponentTitle"] = "Radio button";
}

<div class="u-padding-bottom-l">
    <h1 class="c-d-h2">@ViewData["MainTitle"]</h1>
</div>


<div class="o-grid">
    @await Html.PartialAsync("Shared/_ComponentList")
    <div class="o-grid-col-bp3-9">
        <div class="br-componentgroup-header-wrapper">
            <h1 class="br-componentgroup-header c-d-h2">@ViewData["ComponentTitle"]</h1>
            <p><b>Status:</b> Incomplet</p>
        </div>
        <smart-spacer></smart-spacer>
        <smart-form-group-textarea></smart-form-group-textarea>
        <div class="br-content c-content">
            <div class="br-sample-documentation c-content c-menu__item--danger">
                <p>Labels are missing. See : <a href="https://design.smart.coop/development/docs/c-radio-button.html">https://design.smart.coop/development/docs/c-radio-button.html</a></p>
            </div>
        </div>
        <div class="br-sample" id="component-01-c-radio-button">
            <div class="br-sample-header br-sample-clearfix">
                <h3 class="br-sample-heading c-h3">Radio buttons</h3>
                <a class="br-sample-header-link" href="#component-01-c-radio-button">#</a>
            </div>
            <div class="br-sample-documentation c-content">
                <p>A standard radio button.</p>
            </div>
            <div class="br-sample-content">
                <smart-radio name="radioName" id="radioButtonId" label="The label" value="The value" checked="true"></smart-radio>
            </div>
            <div class="br-sample-footer">
                <b>C# Code: </b>
                <pre class="br-sample-markup br-sample-markup-csharp">@("<smart-radio name=\"radioName\" id=\"radioButtonId\" label=\"The label\" value=\"The value\" checked=\"true\" ></smart-radio>")</pre>
            </div>
            <div class="br-sample" id="component-02-c-radio-button">
                <div class="br-sample-header br-sample-clearfix">
                    <h3 class="br-sample-heading c-h3">Disabled radio buttons inline</h3>
                    <a class="br-sample-header-link" href="#component-02-c-radio-button">#</a>
                </div>
                <div class="br-sample-content">
                    <p class="c-menu__item--danger">Disabled radio buttons inline</p>
                </div>
                <div class="br-sample-footer">
                </div>
            </div>
        </div>
        <div class="br-componentgroup-footer-wrapper">
            <h1 class="br-componentgroup-footer c-d-h2">Possible parameters for Radio button</h1>
            <div class="br-content c-content">
                <table class="c-table">
                    <thead>
                        <tr>
                            <th>Parameters</th>
                            <th>Type</th>
                            <th>Possible values</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>id</td>
                            <td>string</td>
                            <td>Id attribute of the element</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>name</td>
                            <td>string</td>
                            <td>
                                Name attribute of the element
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>value</td>
                            <td>string</td>
                            <td>
                                Value of the radio button
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>label</td>
                            <td>string</td>
                            <td>
                                Label of the radio button
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>checked</td>
                            <td>boolean</td>
                            <td><code>True</code> <code>False</code></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>for</td>
                            <td>ModelExpression</td>
                            <td></td>
                            <td>The ModelExpression associated passed to the tag helper.</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
