/* ==========================================================================
  c-brand
   ========================================================================== */

.c-brand {
    text-align: left;
    padding: 0;
    margin-right: 0.5rem;
    display: block;
    height: 3rem;

    img {
        display: block;
        height: 100%;
    }

    a {
        display: block;
        position: relative;
        height: 100%;
        width: 100%;
    }

    svg {
        width: 82px;
    }

    &--xsmall {
        height: auto;
        margin-top: 2px;
    }
}


@media (min-width: $g-bp2) {
    .c-brand {
        svg {
            width: 124px;
        }

        &--xsmall {
            height: 1.625rem;
            margin-top: -10px;
        }
    }
}


.c-brand--small {
    height: 2.25rem;
}


