/* ==========================================================================
  Shared styles between c-display and c-content
   ========================================================================== */

/* Tables
   ========================================================================== */

.c-display,
.c-content {

  table {
    width: 100%;
    margin: 0.9375rem 0;
  }

  table td,
  table th {
    padding: 0.5rem;
  }

  table th {
    border-bottom: 0.125rem solid $color-gray-200;
    font-weight: 500;
    text-align: left;
  }

  table th[scope="row"] {
    border-bottom: 0.0625rem solid $color-gray-200;
    border-right: 0.125rem solid $color-gray-200;
  }

  table td {
    border-bottom: 1px solid $color-gray-100;
  }

  table tr:last-child td,
  table tr:last-child th[scope="row"] {
    border-bottom: none;
  }
}

/* Code blocks
   ========================================================================== */

.c-display,
.c-content {

  // Code block styling

  pre {
    background: $color-gray-50;
    padding: 1rem;
    font-size: 0.875rem;
    font-weight: 400;
    overflow: auto;
  }

  pre,
  code {
    font-family: $g-code-font-family;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
  }

  code {
    background: $color-gray-50;
    padding: 0.125rem;
    border-radius: 0.125rem;
    font-size: 85%;
    color: $color-semantic-body-text;
  }

}

/* Block and inline quotes
   ========================================================================== */

.c-display,
.c-content {

  blockquote {
    font-style: italic;
    padding-left: 0.9375rem;
    margin-left: 0.125rem;
    border-left: 0.25rem solid $color-gray-100;
  }

  .c-block-quote--enable-auto-quotes p:first-child:before {
    content: open-quote;
  }

  .c-block-quote--enable-auto-quotes p:last-of-type:after {
    content: close-quote;
  }

  blockquote cite {
    text-transform: uppercase;
    font-style: normal;
    font-size: 85%;
    letter-spacing: 0.0625rem;
  }

  strong {
    font-weight: 500;
  }

  .c-button {
    text-decoration: none;
  }

  // Inline quotes

  * {
    quotes: "“""”";
  }

  *[lang="fr"] * {
    quotes: "«""»";
  }

  *[lang="de"] * {
    quotes: "»""«";
  }

  q:before {
    content: open-quote;
  }

  q:after {
    content: close-quote;
  }

}

/* Definition list
   ========================================================================== */

.c-display,
.c-content {
  dl {
    margin: 2rem 0;

    dt {
      font-weight: 500;
      margin: 0 0 0.5rem;

      a {
        // Keep link styles if description term is a link
        font-weight: 400;
      }
    }

    dd {
      margin: 0 0 2rem 2rem;
    }
  }
}

/* Superscript and subscript
   ========================================================================== */

.c-display,
.c-content {

  sup,
  sub {
    font-size: 0.75rem;
    line-height: 0;
    position: relative;
  }

  sup {
    top: -0.625rem;
  }

  sub {
    bottom: -0.375rem;
  }
}
