/* ==========================================================================
  c-production-unit
   ========================================================================== */
.c-panel__header-box {
    display: -webkit-box;
    display: -ms-flexbox;
    height: auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    border-bottom: 2px solid #F2F2F2;
}

.o-card-grid-l {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 1.5rem 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(22.25rem, 1fr));
}

.o-block {
    display: block !important;
}

.u-padding-vertical-m {
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important;
}
