@using Smart.Design.Library.TagHelpers.Header

@{
    Dictionary<string, string> languagesAndLink = new Dictionary<string, string>{
                {
                "French", "?SelectedMenu=French"
                },{
                "Dutch", "?SelectedMenu=Dutch"
                }
                };
    Dictionary<string, string> labelsAndLinks = new Dictionary<string, string>{
                {
                "Item 1", ""
                },{
                "Item 2", ""
                }
                };

}

<!DOCTYPE html>
<html class="u-maximize-height" dir="ltr" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Smart</title>
    <script async src="/_content/Smart.Unity.Design/unity/js/google-analytics.js"></script>
    <link href="/_content/Smart.Unity.Design/SmartLib/smart-main.css" type="text/css" rel="stylesheet"/>
        <!-- FAVICONS. -->
            <!-- Apple-specific image, although this is also used by other hardware/software. -->
            <link rel="apple-touch-icon" sizes="180x180" href="/_content/Smart.Unity.Design/favicons/apple-touch-icon.png?v=1.5">

            <!-- Regular favicons, using PNG for improved quality and compression. -->
            <link rel="icon" type="image/png" sizes="32x32" href="/_content/Smart.Unity.Design/images/favicons/favicon-32x32.png?v=1.5">
            <link rel="icon" type="image/png" sizes="16x16" href="/_content/Smart.Unity.Design/images/favicons/favicon-16x16.png?v=1.5">

                <!-- Web manifest for Android devices and others. -->
            <link rel="manifest" href="/_content/Smart.Unity.Design/images/favicons/site.webmanifest?v=1.5">

                <!-- Safari-specific SVG file for pinned tabs, favorites and Touch Bar buttons -->
            <link rel="mask-icon" href="/_content/Smart.Unity.Design/images/favicons/safari-pinned-tab.svg?v=1.5" color="#ff4054">

                <!-- Good old .ico file, used as a fallback as well as for legacy user agents. -->
            <link rel="shortcut icon" href="/_content/Smart.Unity.Design/images/favicons/favicon.ico?v=1.5">

            <!-- Proprietary configuration code (Microsoft, etc.). -->
            <meta name="msapplication-TileColor" content="#ff4054">
            <meta name="theme-color" content="#ffffff">
        <!-- EO FAVICONS. -->
</head>

<body>
    <div class="c-app-layout">
                    <smart-header home-page-url="" languages-and-links="@languagesAndLink" full-name-with-trigram="John Doe DOJ"
                                  avatar-path="https://smartbe.be" labels-and-links="@labelsAndLinks" target-language="fr" logout-link="/logout.aspx"></smart-header>

        <main class="u-maximize-width">
            <div class="c-app-layout-inner">
                @await Html.PartialAsync("_SideMenu")

                <div class="c-app-layout-inner__content">
                    @if (IsSectionDefined("HeaderToolbar")) {
                        @await RenderSectionAsync("HeaderToolbar", false)
                    }
                    @RenderBody()

                    @await RenderSectionAsync("Scripts", required: false)
                </div>
            </div>
        </main>

        <script src="/_content/Smart.Unity.Design/Smart.Design.Library/js/bundle-client.min.js"></script>
    </div>
</body>
</html>
