<div class="c-app-layout-inner__sidebar u-position-fixed">
    <ul class="c-side-menu">
        <li class="c-side-menu__item">
            <a class="c-side-menu__link" href="/Menu/Action?SelectedMenu=Home&amp;lang=FR">Home</a>
        </li>
        <li class="c-side-menu__item">
            <button class="c-side-menu__subtitle o-flex o-flex--justify-between o-flex--vertical-center">
                <span class="c-side-menu__subtitle--content">Outil 3en1</span>
                <div class="o-svg-icon o-svg-icon--chevron-down">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.29289 9.29289C5.68342 8.90237 6.31658 8.90237 6.70711 9.29289L12 14.5858L17.2929 9.29289C17.6834 8.90237 18.3166 8.90237 18.7071 9.29289C19.0976 9.68342 19.0976 10.3166 18.7071 10.7071L12.7071 16.7071C12.3166 17.0976 11.6834 17.0976 11.2929 16.7071L5.29289 10.7071C4.90237 10.3166 4.90237 9.68342 5.29289 9.29289Z" fill="#595959"></path>
                    </svg>
                </div>
            </button>
            <ul class="c-side-menu__sublist" aria-expanded="false">
                <li class="c-side-menu__subitem">
                    <a class="c-side-menu__link" href="/">Nouvel encodage</a>
                </li>
                <li class="c-side-menu__subitem">
                    <a class="c-side-menu__link" href="/">Encodages en attente</a>
                </li>
            </ul>
        </li>
        <li class="c-side-menu__item">
            <a class="c-side-menu__link" href="/">Outil Activité</a>
        </li>
        <li class="c-side-menu__item">
            <a class="c-side-menu__link" href="/Menu/Action?SelectedMenu=Simulator&amp;lang=FR">Simulation</a>
        </li>
        <li class="c-side-menu__item">
            <a class="c-side-menu__link" href="/Menu/Action?SelectedMenu=Projects&amp;lang=FR">Activités et projets</a>
        </li>
        <li class="c-side-menu__item">
            <a class="c-side-menu__link" href="/u/cfa/admin/home">Formateurs associés</a>
        </li>
    </ul>
</div>
