/* ==========================================================================
  c-err-page
   ========================================================================== */

.c-err-page {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 2.4rem;

}

.c-err-page__code {
  font-size: 1.8rem;
  font-weight: 500;
  color: $color-gray-600;


}

.c-err-page__title {
  color: $g-headings-color;
  font-size: 2.2rem;
  font-weight: 500;
  margin: 0 0 0.8rem;
}

.c-err-page__desc + .c-button,
.c-err-page__desc + .c-button-toolbar {
  margin-top: 2.4rem;
}
