@page
@model Smart.Design.Library.Showcase.Pages.Components.FormGroup.FormGroup
@{
    ViewData["MainTitle"] = "Components documentation";
    ViewData["ComponentTitle"] = "FormGroup";
}

<div class="u-padding-bottom-l">
    <h1 class="c-h2">@ViewData["MainTitle"]</h1>
</div>


<div class="o-grid">
    @await Html.PartialAsync("Shared/_ComponentList")
    <div class="o-grid-col-bp3-9">
        <div class="br-componentgroup-header-wrapper">
            <h1 class="br-componentgroup-header c-h2">@ViewData["ComponentTitle"]</h1>
            <p><b>Status:</b> Complete</p>
        </div>        
        <div class="br-sample" id="component-01-c-radio-button">
            <div class="br-sample-header br-sample-clearfix">
                <h3 class="br-sample-heading c-h3">Form Group</h3>
                <a class="br-sample-header-link" href="#component-01-c-form-group">#</a>
            </div>
            <div class="br-sample-documentation c-content">
                <p>A componant to include form elements.</p>
            </div>
            <div class="br-sample-content">
                <smart-formgroup label="Label" helper-text="Help Text"></smart-formgroup>
            </div>
            <div class="br-sample-footer">
                <b>C# Code: </b>
                <pre class="br-sample-markup br-sample-markup-csharp">@("<smart-formgroup label=\"Label\" helper-text=\"Help Text\"></smart-formgroup>")</pre>
            </div>            
        </div>
        <div class="br-componentgroup-footer-wrapper">
            <h1 class="br-componentgroup-footer c-h2">Possible parameters for Radio button</h1>
            <div class="br-content c-content">
                <table class="c-table">
                    <thead>
                        <tr>
                            <th>Parameters</th>
                            <th>Type</th>
                            <th>Possible values</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>label</td>
                            <td>string</td>
                            <td>Label of the element</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>helper-text</td>
                            <td>string</td>
                            <td>
                               Helper of the element
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
