<div class="o-container o-container--large">
    <smart-panel header="Form grouping" class="u-spacer-bottom-l">
        <smart-form>
            <smart-form-group label="Add client">
                <div class="c-blank-slate c-blank-slate--bg-alt u-spacer-bottom">
                    <p class="u-text-muted">Please add a client for this quote.</p>
                    <smart-button-toolbar>
                        <smart-button leading-icon="Add" label="Add new client" button-style="Secondary"></smart-button>
                        <smart-button leading-icon="Add" label="Add existing client" button-style="Secondary"></smart-button>
                    </smart-button-toolbar>
                </div>
            </smart-form-group>

            <smart-form-group label="Radio">
                <smart-radio alt="test" data-gogo="gogo" label="Lorem ipsum dolor sit amet." checked="true" name="radio1" CLASS="jojo"></smart-radio>
                <smart-radio label="Lorem ipsum dolor sit amet." name="radio1"></smart-radio>
            </smart-form-group>
        </smart-form>
    </smart-panel>

    <smart-panel header="Form grouping" class="u-spacer-bottom-l">
        <smart-form>
            <smart-form-group-input-text label="Input"/>
            <smart-form-group label="Select" helper-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo accumsan risus.">
                <smart-select>
                    <option>Choose an item</option>
                </smart-select>
            </smart-form-group>
            <smart-form-group-textarea id="textarea" label="TextArea" rows="5" helper-text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo accumsan risus."/>
        </smart-form>
    </smart-panel>

    <smart-panel header="Form grouping" class="u-spacer-bottom-l">
        <smart-form>
            <smart-form-group-input-text value="__/__/__" label="Nr BCE"/>
            <smart-form-group-input-group grouped-text="€" alignment="End" label="Sale amount"/>

            <smart-form-group label="Time">
                <div class="o-flex o-flex--vertical-center o-flex--spaced">
                    <span>
                        <p>From</p>
                        <smart-input-time/>
                    </span>
                    <span>
                        <p>To</p>
                        <smart-input-time/>
                    </span>
                </div>
            </smart-form-group>

            <smart-form-group label="Default label">
                <input type="date" class="c-input"/>
            </smart-form-group>
        </smart-form>
    </smart-panel>

</div>
