@page
@model Smart.Design.Library.Showcase.Pages.Components.Panel.Panel
@{
    ViewData["MainTitle"] = "Components documentation";
    ViewData["ComponentTitle"] = "Panel";
}

<div class="u-padding-bottom-l">
    <h1 class="c-d-h2">@ViewData["MainTitle"]</h1>
</div>


<div class="o-grid">
    @await Html.PartialAsync("Shared/_ComponentList")
    <div class="o-grid-col-bp3-9">
        <div class="br-componentgroup-header-wrapper">
            <h1 class="br-componentgroup-header c-d-h2">@ViewData["ComponentTitle"]</h1>
            <p><b>Status:</b> incomplete</p>
        </div>
        <div class="br-content c-content">
            <div class="br-sample-documentation c-content">
                <p>Panels are used to separate page content into logical sections. A panel can consist of a panel header, a panel body, and a panel footer.</p>
                <p>See : <a href="https://design.smart.coop/development/docs/c-panel.html">https://design.smart.coop/development/docs/c-panel.html</a></p>
                <p class="c-menu__item--danger">body must be a parameter (actually missing in the TagHelpers)</p>
            </div>
        </div>
        <div class="br-sample" id="component-01-c-panel">
            <div class="br-sample-header br-sample-clearfix">
                <h3 class="br-sample-heading c-h3">Panel simple</h3>
                <a class="br-sample-header-link" href="#component-01-c-panel">#</a>
            </div>
            <div class="br-sample-documentation c-content">
                <p>This is the simplest panel possible.</p>
            </div>
            <div class="br-sample-content">
                <smart-panel>Panel content</smart-panel>
            </div>
            <div class="br-sample-footer">
                <b>C# Code: </b>
                <pre class="br-sample-markup br-sample-markup-csharp">@("<smart-panel>Panel content</smart-panel>")</pre>
            </div>
        </div>
        <div class="br-sample" id="component-02-c-panel">
            <div class="br-sample-header br-sample-clearfix">
                <h3 class="br-sample-heading c-h3">Panel simple with header</h3>
                <a class="br-sample-header-link" href="#component-02-c-panel">#</a>
            </div>
            <div class="br-sample-documentation c-content">
                <p>A panel usually has a header. This example uses a simplified markup structure in the header.</p>
            </div>
            <div class="br-sample-content">
                <p class="c-menu__item--danger"><smart-panel header="Panel header">Panel content</smart-panel></p>
            </div>
            <div class="br-sample-footer">
                <b>C# Code: </b>
                <pre class="br-sample-markup br-sample-markup-csharp">@("<smart-panel header=\"Panel header\">Panel content</smart-panel>")</pre>
            </div>
        </div>
        <div class="br-sample" id="component-03-c-panel">
            <div class="br-sample-header br-sample-clearfix">
                <h3 class="br-sample-heading c-h3">Panel (with toolbar)</h3>
                <a class="br-sample-header-link" href="#component-02-c-panel">#</a>
            </div>
            <div class="br-sample-content">
                <p class="c-menu__item--danger">Panel with toolbar missing</p>
            </div>
        </div>
        <div class="br-componentgroup-footer-wrapper">
            <h1 class="br-componentgroup-footer c-d-h2">Possible parameters for Inputgroup</h1>
            <div class="br-content c-content">
                <table class="c-table">
                    <thead>
                        <tr>
                            <th>Parameters</th>
                            <th>Type</th>
                            <th>Possible values</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>header</td>
                            <td>string</td>
                            <td>Text header</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
