@page
@model Smart.Design.Razor.Showcase.Pages.Components.MutedText.MutedText
@{
    ViewData["MainTitle"] = "Components documentation";
    ViewData["ComponentTitle"] = "Muted text";
}

<div class="u-padding-bottom-l">
    <h1 class="c-d-h2">@ViewData["MainTitle"]</h1>
</div>


<div class="o-grid">
    @await Html.PartialAsync("Shared/_ComponentList")
    <div class="o-grid-col-bp3-9">
        <div class="br-componentgroup-header-wrapper">
            <h1 class="br-componentgroup-header c-d-h2">@ViewData["ComponentTitle"]</h1>
            <p><b>Status:</b> Complete</p>
        </div>
        <div class="br-content c-content">
        </div>
        <div class="br-sample" id="component-01-c-key-value">
            <div class="br-sample-header br-sample-clearfix">
                <h3 class="br-sample-heading c-h3">Muted text</h3>
                <a class="br-sample-header-link" href="#component-01-c-muted-text">#</a>
                
            </div>
            <div class="br-sample-documentation c-content">
            </div>
            <div class="br-sample-content">
                    <smart-muted-text text="Text to be rendered"></smart-muted-text>             
            </div>
            <div class="br-sample-footer">
                <b>C# Code: </b>
                <pre class="br-sample-markup br-sample-markup-csharp">@("<smart-muted-text text=\"Rext to be rendered\" ></smart-muted-text>")</pre>
            </div>            
        </div>
        <div class="br-componentgroup-footer-wrapper">
            <h1 class="br-componentgroup-footer c-d-h2">Possible parameters for muted text</h1>
            <div class="br-content c-content">
                <table class="c-table">
                    <thead>
                        <tr>
                            <th>Parameters</th>
                            <th>Type</th>
                            <th>Possible values</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>text</td>
                            <td>string</td>
                            <td>
                                Text to be rendered as muted
                            </td>
                            <td></td>
                        </tr>                                           
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>


