@page
@model Smart.Design.Razor.Showcase.Pages.Components._ComponentsIndex.ComponentsIndexModel
@{
    ViewData["Title"] = "Components documentation";
}

<div class="u-padding-bottom-l">
    <h1 class="c-d-h2">@ViewData["Title"]</h1>
</div>

<div class="o-grid">
    @await Html.PartialAsync("Shared/_ComponentList")
    <div class="o-grid-col-bp3-9">
        <div class="br-componentgroup-header-wrapper">
            <h1 class="br-componentgroup-header c-d-h2">Browse the list on the left</h1>
        </div>
        <div class="br-content c-content">
            <p>TODO:</p>
            <ul>
                <li>Create a Layout for the component page</li>
                <li>Create a Layout for the list (submenu) on the left</li>
                <li>Dynamically list the components in the list (submenu) on the left</li>
            </ul>
        </div>
    </div>
</div>
