@page
@model Smart.Design.Library.Showcase.Pages.ChangelogModel
@{
    ViewData["Title"] = "ChangeLog";
}
<div class="o-container o-container--medium">
    <div class="o-container-vertical">
        <div class="c-display">
            <h1>@ViewData["Title"]</h1>
            <p>This is the development changelog.</p>
            <p>This is listing all the changes/improvments on the Smart.Design.Library <br />(<i>does not include changes on the Smart.Design.Library.Showcase</i>).</p>
        </div>
        <ul class="c-content">
            <li>
                <h3>September 5, 2023 - Version 2.1.5</h3>
                <ul>
                    <li>
                        Update layout success page: update ui according to new design
                    </li>
                </ul>
            </li>
            <li>
                <h3>September 4, 2023 - Version 2.1.4</h3>
                <ul>
                    <li>
                        Update header tag: delete main label & Question link
                    </li>
                </ul>
            </li>
            <li>
                <h3>August 31, 2023 - Version 2.1.3</h3>
                <ul>
                    <li>
                        Checkbox tag: Allow html tag in label.
                    </li>
                    <li>
                        Provide the option of adding Select default value
                    </li>
                    <li>
                        Enable decimal encoding for Input type Number
                    </li>
                </ul>
            </li>
            <li>
                <h3>August 24, 2023 - Version 2.1.2</h3>
                <ul>
                    <li>
                        Fix the Regex for Input type Tel
                    </li>
                </ul>
            </li>
            <li>
                <h3>August 16, 2023 - Version 2.1.1</h3>
                <ul>
                    <li>
                        Update documentation Select Taghelper
                    </li>
                    <li>
                        Update select option for languages
                    </li>
                </ul>
            </li>
            <li>
                <h3>July 31, 2023 - Version 2.1.0</h3>
                <ul>
                    <li>
                        Add Box TagHelper: a responsive box
                    </li>
                    <li>Add some specific css for Box Taghelper</li>
                </ul>
            </li>
            <li>
                <h3>July 31, 2023 - Version 2.0.0</h3>
                <ul>
                    <li>
                        Add Smart-not-logged-in-header TagHelper: a header with the Smart logo and a switcher language
                    </li>
                    <li>
                        Improve TagHelper Radio button :
                        <ul>
                            <li>Give the ability to add HTML in the Radio button Label</li>
                            <li>Add missing ID attribut</li>
                        </ul>
                    </li>
                    <li>
                        Improve TagHelper Select
                        <ul>
                            <li>Add an Enum for HTML Option tag</li>
                            <li>Add missing Name attribut</li>
                        </ul>
                    </li>
                    <li>
                        Add variations to Smart-input TagHelper
                        <ul>
                            <li>Smart-input-date TagHelper</li>
                            <li>Smart-input-phone TagHelper</li>
                            <li>Smart-input-email TagHelper</li>
                            <li>Smart-input-number TagHelper</li>
                        </ul>
                    </li>
                    <li>
                        Fix some typo errors in some TagHelpers
                    </li>
                    <li>
                        Change styles for hover for c-button--highlights in main.css
                    </li>
                </ul>
            </li>
            <li>
                <h3>June 06, 2023 - Version 1.5.1</h3>
                <ul>
                    <li>
                        Update CSS styles for :
                        <ul>
                            <li>.dynamic-dashboard--grid</li>
                            <li>.card__banner--ag</li>
                            <li>.c-card__banner--text</li>
                            <li>.c-button--secondary (color)</li>
                            <li>.c-button--highlights</li>
                            <li>.c-content ol</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <h3>May 10, 2023 - Version 1.5.0</h3>
                <ul>
                    <li>Embark logo image inside nugget package</li>
                </ul>
            </li>
            <li>
                <h3>May 04, 2023 - Version 1.4.3</h3>
                <ul>
                    <li>
                        Update CSS styles for
                        <ul>
                            <li>.c-content ul li</li>
                            <li>.c-content ol li</li>
                        </ul>

                    </li>
                </ul>
            </li>
            <li>
                <h3>April 27, 2023 - Version 1.4.1</h3>
                <ul>
                    <li>Improve Tag Helper smart-header with a svg logo</li>
                </ul>
            </li>
            <li>
                <h3>April 24, 2023 - Version 1.4.0</h3>
                <ul>
                    <li>Improve Tag Helper smart-header smart-table-of-content (delete class not-numbered)</li>
                    <li>
                        Update CSS styles for :
                        <ul>
                            <li>.o-flex</li>
                            <li>.o-block</li>
                            <li>.c-table-of-content-navigation</li>
                            <li>.c-toolbar__right</li>
                            <li>.u-t-align-right</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <h3>April 12, 2023 - Version 1.3.7</h3>
                <ul>
                    <li>first change</li>
                </ul>
            </li>
            <li>
                <h3>Date</h3>
                <ul>
                    <li>first change</li>
                </ul>
            </li>
            <li>
                <h3>Date</h3>
                <ul>
                    <li>first change</li>
                </ul>
            </li>
            <li>
                <h3>Date</h3>
                <ul>
                    <li>first change</li>
                </ul>
            </li>
            <li>
                <h3>Date</h3>
                <ul>
                    <li>first change</li>
                </ul>
            </li>
            <li>
                <h3>Before August 17, 2022</h3>
                <ul>
                    <li>Go to the design.smart.coop inline <a href="https://design.smart.coop/changelog.html">Changelog</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
