@page
@model Smart.Design.Library.Showcase.Pages.DesignLibraryStoryModel
@{
    ViewData["Title"] = "The Story behind";
}

<div class="o-container o-container--medium">
    <div class="o-container-vertical">
        <div class="c-display">
            <h1>@ViewData["Title"]</h1>
            <p>The Design Library is a reimplementation of the <a href="https://design.smart.coop/">smart design system</a>. The goal is to have all the components written only once in the codebase.</p>
            <p>This is ensuring the reusability of each ones. It helps also maintaining them for further development.</p>
        </div>
    </div>
</div>
