@{
    //Layout = "_Layout";
}
<smart-container size="Large">
    <div class="o-container-vertical">
        <smart-panel header="Form grouping" class="u-spacer-bottom-l">
            <smart-form>
                <smart-formgroup label="Add client">
                    <div class="c-blank-slate c-blank-slate--bg-alt">
                        <p class="u-text-muted c-body-1">Please add a client for this quote.</p>
                        <smart-button-toolbar>
                            <smart-button leading-icon="Add" label="Add new client" button-style="Secondary"></smart-button>
                            <smart-button leading-icon="Add" label="Add existing client" button-style="Secondary"></smart-button>
                        </smart-button-toolbar>
                    </div>
                </smart-formgroup>

                <smart-formgroup label="Radio">
                    <smart-radio alt="test" label="Lorem ipsum dolor sit amet." checked="true" name="radio1"></smart-radio>
                    <smart-radio label="Lorem ipsum dolor sit amet." name="radio1"></smart-radio>
                </smart-formgroup>
            </smart-form>
        </smart-panel>

        <smart-panel header="Form grouping" class="u-spacer-bottom-l">
            <smart-form>
                <smart-form-group-input-text label="Input" />
                <smart-formgroup label="Select">
                    <select class="c-select">
                        <option>Choose an item</option>
                    </select>
                </smart-formgroup>
                <smart-form-group-textarea id="textarea" label="TextArea" rows="5" />
            </smart-form>
        </smart-panel>

        <smart-panel header="Form grouping" class="u-spacer-bottom-l">
            <smart-form>
                <smart-form-group-input-text value="__/__/__" label="Nr BCE" />
                <smart-form-group-input-group grouped-text="€" alignment="End" label="Sale amount" />

                <smart-formgroup label="Time">
                    <div class="o-flex o-flex--vertical-center o-flex--spaced">
                        <span>
                            <p>From</p>
                            <smart-input-time />
                        </span>
                        <span>
                            <p>To</p>
                            <smart-input-time />
                        </span>
                    </div>
                </smart-formgroup>

                <smart-formgroup label="Default label">
                    <input type="date" class="c-input" />
                </smart-formgroup>
            </smart-form>
        </smart-panel>
    </div>
</smart-container>