@{
    Layout = "_MinimalistLayout";
}
<smart-container size="Small">
    <smart-panel>
        <smart-form>
            <h3 class="c-h3">Sign in</h3>

            <smart-form-group-input-text label="Email"></smart-form-group-input-text>
            <smart-form-group-input-text label="Password"></smart-form-group-input-text>

            <smart-button is-block="true" label="Sign In"></smart-button>
            <p class="c-or">
                <span>Or</span>
            </p>
            <smart-button is-block="true" button-style="Secondary" label="Register your account"></smart-button>
        </smart-form>
    </smart-panel>

    <div class="c-content u-text-center u-spacer-top-l">
        <smart-muted-text text="Forgot password"></smart-muted-text>
    </div>
</smart-container>
