<smart-container size="Small">
    <smart-panel>
        <smart-form>
            <h3 class="c-h3">Sign in</h3>

            <smart-form-group-input-text label="Email"></smart-form-group-input-text>
            <smart-form-group-input-text label="Password"></smart-form-group-input-text>

            <smart-icon icon="ArrowDown"></smart-icon>
            <smart-icon icon="ArrowLeft"></smart-icon>
            <smart-icon icon="Eye"></smart-icon>
            <smart-icon icon="EyeOff"></smart-icon>

            <smart-button is-block="true" label="Sign In"></smart-button>
            <p class="c-or">
                <span>Or</span>
            </p>
            <smart-button is-block="true" button-style="Secondary" label="Register your account"></smart-button>
        </smart-form>
    </smart-panel>
</smart-container>