@page
@model Smart.Design.Razor.Showcase.Pages.Components.Citation.Citation
@{
    ViewData["MainTitle"] = "Components documentation";
    ViewData["ComponentTitle"] = "Citation";
}

<div class="u-padding-bottom-l">
    <h1 class="c-d-h2">@ViewData["MainTitle"]</h1>
</div>


<div class="o-grid">
    @await Html.PartialAsync("Shared/_ComponentList")
    <div class="o-grid-col-bp3-9">
        <div class="br-componentgroup-header-wrapper">
            <h1 class="br-componentgroup-header c-d-h2">@ViewData["ComponentTitle"]</h1>
            <p><b>Status:</b> Complete</p>
        </div>
        <div class="br-content c-content">
            <p>This page documents the citation component.</p>
        </div>
        <div class="br-sample"  id="component-01-c-citation">
            <div class="br-sample-header br-sample-clearfix">
                <h3 class="br-sample-heading c-h3">Citation</h3>
            </div>
            <div class="br-sample-content">
                <smart-citation title="En résumé" content="Le contrat couvre les deux parties et à pour objectif d'accompagner, d’informer et d’orienter le Titulaire dans la gestion son l’Activité."></smart-citation>
            </div>
             <div class="br-sample-footer">
                <button class="br-sample-show-code-btn br-sample-show-code-btn-html c-button c-button--secondary c-button--small">Show HTML code</button>
                <button class="br-sample-show-code-btn br-sample-show-code-btn-csharp c-button c-button--secondary c-button--small">Show C# code</button>
                <div class="br-sample-code br-sample-code-html">
                    <button class="br-sample-copy-code-btn c-button c-button--secondary c-button--small">Copy to clipboard</button>
                    <pre class="test">
                     
                    </pre>
                </div>
                <div class="br-sample-code br-sample-code-csharp">
                    <button class="br-sample-copy-code-btn c-button c-button--secondary c-button--small">Copy to clipboard</button>
                    <pre class="br-sample-markup br-sample-markup-csharp">@("<smart-citation title=\"En résumé\" content=\"Le contrat couvre les deux parties et à pour objectif d'accompagner, d’informer et d’orienter le Titulaire dans la gestion son l’Activité.\"></smart-citation>")</pre>
                </div>
            </div>
        </div>
       
    </div>
</div>
