@page
@model Smart.Design.Razor.Showcase.Pages.Components.HorizontalRule.HorizontalRule
@{
    ViewData["MainTitle"] = "Components documentation";
    ViewData["ComponentTitle"] = "Horizontal rule";
}

<div class="u-padding-bottom-l">
    <h1 class="c-d-h2">@ViewData["MainTitle"]</h1>
</div>


<div class="o-grid">
    @await Html.PartialAsync("Shared/_ComponentList")
    <div class="o-grid-col-bp3-9">
        <div class="br-componentgroup-header-wrapper">
            <h1 class="br-componentgroup-header c-d-h2">@ViewData["ComponentTitle"]</h1>
            <p><b>Status:</b> Done</p>
        </div>
     
        <div class="br-sample" id="component-01-c-hr">
            <div class="br-sample-header br-sample-clearfix">
                <h3 class="br-sample-heading c-h3">Horizontal rule</h3>
            </div>
            <div class="br-sample-documentation c-content"></div>
            <div class="br-sample-content">
                <smart-hr></smart-hr>
            </div>
            <div class="br-sample-footer">
                 <b>C# Code: </b>
                <pre class="br-sample-markup br-sample-markup-csharp">@("<smart-hr></smart-hr>")</pre>
            </div>
        </div>
    </div>
</div>
