@page
@model Smart.Design.Library.Showcase.Pages.Templates._TemplatesIndexModel
@{
    ViewData["Title"] = "Templats page";
}

<main class="o-container-vertical">

    <div class="o-container o-container--small">

        <div class="c-content">
            <h2>Templates</h2>
            <p>You can reference the following templates to see how to use the components in practice.</p>

            <div class="o-grid">
                <div class="o-grid-col-6">
                    <span class="c-status-pill c-status-pill--success">
                        <span class="c-status-pill__circle"></span>
                        <span class="c-status-pill__label">Done</span>
                    </span>
                    <ul>
                        <li>
                            <a asp-page="./DefaultTemplate">Default template</a> to start new projects
                        </li>
                        <li>
                            <a asp-page="./ProductionUnit">Production units</a>
                        </li>
                    </ul>
                </div>
                <div class="o-grid-col-6">
                    <span class="c-status-pill c-status-pill--warning">
                        <span class="c-status-pill__circle"></span>
                        <span class="c-status-pill__label">Work in progress</span>
                    </span>
                    <ul class="u-spacer-top-l">
                        <li>
                            <a asp-page="./Confirmation">Confirmation</a>
                        </li>
                        <li>
                            <a asp-page="./Subscription">Subscription</a>
                        </li>                        <li>
                            <a asp-page="./Dna/ListVehicule">List of vehicules</a>
                        </li>
                        <li>
                            <a asp-page="./Dna/AddVehicule">Add vehicule</a>
                        </li>
                    </ul>
                </div>
            </div>


        </div>
    </div>
</main>
