@page
@using Smart.Design.Library.TagHelpers.Header
@model Smart.Design.Library.Showcase.Pages.Templates.ConfirmationtionModel
@{
    ViewData["Title"] = "Subscription confirmation page";
}
<style>
    .u-li-disc{
        list-style-type: disc;
        padding-left: 3rem;
    }
</style>

@{
    Dictionary<string, string> items = new Dictionary<string, string>
    {
        { "Item 1", "value1" },
        { "Item 2", "value2" }
    };
}
@{
    Dictionary<string, string> languagesAndLink = new Dictionary<string, string>
    {
        {
            "French", "?SelectedMenu=French"
        },
        {
            "Dutch", "?SelectedMenu=Dutch"
        }
    };
}

@{
    StepperItem item1 = new StepperItem
    {
        Label = "Données personelles et professionelles",
        IsActive = false // Assuming this is the current active step
    };

    StepperItem item2 = new StepperItem
    {
        Label = "Upload des documents",
        IsActive = true // Assuming this is not the active step yet
    };


    List<StepperItem> stepperItems = new List<StepperItem>();

    stepperItems.Add(item1);
    stepperItems.Add(item2);
}

<smart-not-logged-in-header home-page-url="" languages-and-links="@languagesAndLink" target-language="fr"></smart-not-logged-in-header>

<div class="c-navbar--with-stepper k-mt--4" style="background: white">
    <div class="o-container o-container--small">
        <h2 class="c-d-h4  br-styleguide-brand-heading">Inscrivez-vous en suivant ces 2 étapes</h2>
        <nav class="c-wizard">
            <ul>
                <li>
                    <a class="c-wizard__item c-wizard--complete">
                        <div class="c-wizard__indicator"></div>
                        <div class="c-wizard__label">Données personelles et professionelles</div>
                    </a>
                </li>
                <li>
                    <a class="c-wizard__item c-wizard--active">
                        <div class="c-wizard__indicator">2</div>
                        <div class="c-wizard__label">Upload des documents</div>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>


<main class="o-container-vertical">

    <div class="o-container o-container--small">

        <div class="c-panel u-shadow-50">

            <div class="c-panel__body u-padding-vertical-l u-padding-bottom">
                <smart-grid>
                    <smart-grid-column width="1">
                        <smart-badge size="Large" icon="Email"></smart-badge>
                    </smart-grid-column>
                    <smart-grid-column width="10">
                        <h3 class="c-h4  u-text-bold">
                            Pour finaliser il vous reste à signer et nous envoyer les documents suivant à l'adresse
                            <span>
                                <a class="link--sup" href="mailto:teamadmin@smart.coop">teamadmin@smart.coop</a>
                            </span>
                        </h3>
                    </smart-grid-column>
                </smart-grid>

                <div class="c-h4 u-spacer-top-xl u-spacer-bottom-l u-text-bold">
                    1. La fiche d'inscription signée
                </div>
                <smart-button button-style="Secondary" trailing-icon="Download" label="Télécharger la fiche d'inscription"></smart-button>

                <div class="c-h4 u-spacer-top-xl u-text-bold">
                    2. Une copie de votre carte d'identité (recto & verso)
                </div>

                <div class="u-spacer-top-xl u-spacer-bottom-l">
                    <span class="c-h4 u-text-bold">3. Une copie de votre carte bancaire</span>
                    <span class="c-h5">*Ou un document prouvant que vous êtes titulaire d'un numéro de compte mentionné</span>
                </div>

                <h5 class="c-h4 u-spacer-top-xl u-spacer-bottom-s u-text-bold">
                    Que va-t-il se passer ensuite ?
                </h5>
                <ul class="u-li-disc">
                    <li>Vous recevrez vos codes personnels par mail pour accéder à votre «&nbsp;compte Smart&nbsp;» (et encoder vos contrats) dans les 48h ouvrés suivant l'envoi de vos documents d'inscription.<br/>N'hésitez pas à contacter <a href="https://smartbe.be/contact">le bureau Smart le plus proche de chez vous</a> en cas d'urgence.</li>
                    <li>N'oubliez pas de toujours déclarer vos dates de travail à l'avance. Il n'est pas permis d'antidater vos prestations.</li>
                </ul>

            </div>
        </div>
    </div>
</main>
