@page
@model Smart.Design.Library.Showcase.Pages.Templates.ConfirmationtionModel
@{
    ViewData["Title"] = "Subscription confirmation page";
}
<style>
    .u-li-disc{
        list-style-type: disc;
        padding-left: 3rem;
    }
</style>

<header class="o-container-vertical c-navbar c-navbar--white c-navbar--entry">
    <div class="o-container o-container--small">
        <div class="o-grid">
            <div class="o-grid-col-6">
                <div class="c-brand c-brand--small">
                    <a href="/home?lang=FR">
                        <img src="~/images/logo.svg" alt="Smart">
                    </a>
                </div>
            </div>

            <div class="o-grid-col-6">
                <ul class="c-pill-navigation">
                    <li class="c-pill-navigation__item c-pill-navigation__item--has-child-menu u-spacer-left-auto">
                        <button type="button" data-menu="lang-switch" data-menu-samewidth="true">
                            Fran&#231;ais
                        </button>
                        <ul class="c-menu c-menu--large" id="lang-switch">
                            <li class="c-menu__item">
                                <p class="c-menu__info u-text-muted">Fran&#231;ais</p>
                            </li>
                            <li class="c-menu__item">
                                <a class="c-menu__label" href="?lang=NL">Nederlands</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<main class="o-container-vertical">

    <div class="o-container o-container--small">

        <div class="c-panel u-shadow-50">

            <div class="c-panel__body u-padding-vertical-l u-padding-bottom">
                <smart-grid>
                    <smart-grid-column width="2">
                        <smart-badge size="Large"></smart-badge>
                    </smart-grid-column>
                    <smart-grid-column width="10">
                        <h3 class="c-h3">
                            Il ne vous reste plus qu'à signer et nous envoyer vos documents
                        </h3>
                    </smart-grid-column>
                </smart-grid>

                <div class="c-h5 u-spacer-top-xl u-spacer-bottom-l">
                    1. La fiche d'inscription signée
                </div>
                <smart-button button-style="Secondary" leading-icon="Download" label="Télécharger la fiche d'inscription"></smart-button>

                <div class="c-h5 u-spacer-top-xl">
                    2. Une copie de votre carte d'identité (recto & verso)
                </div>

                <div class="c-h5 u-spacer-top-xl u-spacer-bottom-l">
                    3. Une copie de votre carte bancaire * <span class="u-text-small">Ou un document prouvant que vous êtes titulaire d'un numéro de compte mentionné</span>
                </div>                    
                <smart-grid>
                    <smart-grid-column width="7">
                        <div class="u-spacer-top-s">à l'adresse <a href="mailto:teamadmin@smart.coop">teamadmin@smart.coop</a></div>
                    </smart-grid-column>
                    <smart-grid-column width="5">
                        <button class="c-button c-button--highlights" type="button" disabled="">
                            <span class="c-button__content">
                                <span class="c-button__label">Envoyer par email</span>
                                <div class="o-svg-icon o-svg-icon-external-link  ">
                                    <smart-icon icon="Send"></smart-icon>
                                </div>
                            </span>
                        </button>
                    </smart-grid-column>
                </smart-grid>
                
                <h5 class="c-h5 u-spacer-top-xl u-spacer-bottom-l">
                    Que va-t-il se passer ensuite ?
                </h5>
                <ul class="u-li-disc">
                    <li>Vous recevrez vos codes personnels par mail pour accéder à votre «&nbsp;compte Smart&nbsp;» (et encoder vos contrats) dans les 48h ouvrés suivant l'envoi de vos documents d'inscription.<br />N'hésitez pas à contacter <a href="https://smartbe.be/contact">le bureau Smart le plus proche de chez vous</a> en cas d'urgence.</li>
                    <li>N'oubliez pas de toujours déclarer vos dates de travail à l'avance. Il n'est pas permis d'antidater vos prestations.</li>
                </ul>

            </div>
        </div>
    </div>
</main>

