@page
@model Smart.Design.Library.Showcase.Pages.Templates.ConsistencyDayForBoDashboardModel
@using Kendo.Mvc.TagHelpers
@using Kendo.Mvc.UI
@{
    ViewData["Title"] = "Consistency day for BO dashboard";
}

<div class="c-app-layout">
    @await Html.PartialAsync("Shared/_TemplatesHeader")
    <main class="u-maximize-width">
        <div class="c-app-layout-inner">
            @await Html.PartialAsync("Shared/_TemplatesSideMenu")
            <div class="c-app-layout-inner__content">
                @await Html.PartialAsync("Shared/_TemplatesMainTitle")
                <div class="o-container o-container--large">
                    <div class="o-container-vertical--padding-mini u-position-relative">
                        <form asp-page-handler="GenerateReport" method="post">
                            <span>
                                @(Html.Kendo().DatePickerFor(m => m.MonthAndYear)
                                    .Start(CalendarView.Year)
                                    .Depth(CalendarView.Year)
                                    .Format("MMM yyyy")
                                    .Label(lb => lb
                                        .Content("Report month")
                                        .Floating(true))
                                    .HtmlAttributes(new { style = "width: auto" })   
                                )
                            </span>
                            <span class="u-spacer-left-xl">
                                @(Html.Kendo().Button()
                                    .Name("generateReportBtn")
                                    .ThemeColor(ThemeColor.Primary)
                                    .Content("Generate report")
                                    .HtmlAttributes(new { type = "submit" })
                                    .Events(e => e.Click("GetForgeryToken"))
                                )
                            </span>
                        </form>
                    </div>
                    <div class="u-position-relative">
                        @(Html.Kendo().Grid<ConsistencyDayAnomaly>()
                            .Name("consistencyDayAnomalyGrid")
                            .Sortable()
                            .Filterable()
                            .Scrollable()
                            .Resizable(r => r.Columns(true))
                            .AllowCopy()
                            .Size(ComponentSize.Small)
                            .ToolBar(tb =>
                            {
                                tb.Excel();
                            })
                            .Columns(columns =>
                            {
                                columns
                                    .Bound(column => column.ProviderReference);
                                columns
                                    .Bound(column => column.Date)
                                    .Format("{0:d}");
                                columns
                                    .Bound(column => column.SmartWorkingHours);
                                columns
                                    .Bound(column => column.ForHrmId);
                                columns
                                    .Bound(column => column.ForHrmWorkingHours);
                                columns
                                    .Bound(column => column.AnomalyType);
                            })
                            .Excel(excel => excel
                                .AllPages(true)
                                .Filterable(true)
                                .FileName(DateTime.Now.ToString("yyyy-MM-dd HH'h'mm") + " - consistency day issues.xlsx")
                            )
                            .DataSource(ds => ds
                                .Ajax()
                                .Read(r => r.Url("/Templates/ConsistencyDayForBoDashboard?handler=Read").Data("GetForgeryToken"))
                                .PageSize(25)
                            )
                            .Pageable(p => p.PageSizes(new[] { 25, 100, 500 }))
                            .HtmlAttributes(new { style = "height: calc(100vh - 225px); user-select: none;" })
                        )
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<script>
    // trick to prevent form submission on refresh
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }

    // Kendo objects mapped to their related html elements
    var anomalyKendoGrid = null;

    // TODO: initialize all the "Kendo variables"
    $(document).ready(function () {
        var grid = $("#consistencyDayAnomalyGrid").data("kendoGrid");
        console.log("grid", grid);
    });

    function GetForgeryToken() {
        return kendo.antiForgeryTokens();
    }
</script>
