@page
@model Smart.Design.Library.Showcase.Pages.Templates.ProductionUnitModel
@{
    ViewData["Title"] = "Production unit page";
}

<style>
    #header, #footer {
        display: none !important;
    }
    main.o-container{
        width: 100% !important;
        max-width: 100% !important;
    }
    .c-app-layout{
        min-height: 100vh;
    }

</style>


@{
    var list = new List<string> { "preambule", "les parties", "Droit et attribution de compétence", "deux", "trois" };
    Dictionary<string, string> languagesAndLink = new Dictionary<string, string>{
    {
    "Français", "Link/Français"
    },{
    "English", "Link/English"
    },{
    "Nederlands", "Link/Nederlands"
    },{
    "De", "chemin"
    }
    };

    string currentLanguage = "nl";
    string fullNameWithTrigram = "céline Marique (mag)";
    string avatarPath = "imageAvater";

    Dictionary<string, string> labelsAndLinks = new Dictionary<string, string>{
    {
    "Vos informations personnelles", "/Info"
    },{
    "Vos documents", "/documents"
    },{
     "Votre compte", "/Votre compte"
    },{
     "Nos conditions d'utilisations", "~/unity/curu"
    },{
     "Unité de production","/unityProduction"
    }
    };
    Dictionary<string, string> SideMenuLabelsAndLinks = new Dictionary<string, string>{
    {
    "Home", "/home"
    },{
    "Prestations en cours", "/PedingPrestations"
    },{
     "Nouvelle prestation", "/NewPrestation"
    },{
     "Simulation", "/Simulation"
    },{
     "Activités et projets","/projets"
    },{
     "Formateurs associés","/u/cfa/home"
    }
    };
}

<div class="c-app-layout">
    <smart-header home-page-url="/home" labels-and-links="@labelsAndLinks" languages-and-links="@languagesAndLink" full-name-with-trigram=@fullNameWithTrigram
                  avatar-path="@avatarPath" target-language="@currentLanguage" logout-link="/logout.aspx"></smart-header>

    <main class="u-maximize-width">
        <div class="c-app-layout-inner">
            <div class="c-app-layout-inner__sidebar u-position-fixed">
                <smart-sidemenu label-and-links="SideMenuLabelsAndLinks"></smart-sidemenu>
            </div>
            <div class="c-app-layout-inner__content">
                <div class="c-navbar u-position-fixed main-title">
                    <div class="c-toolbar">
                        <div class="c-toolbar__left">
                            <div class="c-toolbar__item">
                                <h1 class="c-toolbar__title">Unités de production</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="o-container o-container--large">
                    <div class="o-container-vertical--padding-small u-position-relative">
                        <div class="3in1 u-spacer-bottom-xl">
                            <h2 class="c-h3">3en1 - Déclinaison 1</h2>
                            <a href="/" class="3in1__list">
                                <div class="c-panel c-panel--border-r-sm">
                                    <div class="c-panel__header u-padding-vertical-m">
                                        <h3 class="c-panel__title">
                                            <span>Référence: </span>
                                            <span id="ref-0">BE-SMART-134278137</span>
                                            <button class="c-button c-button--secondary c-button--xsmall c-button--icon u-spacer-left-xs o-flex-inline" type="button"
                                                    data-action="copy" data-action-trad="copied" data-copy-content="#ref-0" data-tooltip="tooltip-0" data-tooltip-placement="right">
                                                <span class="c-button__content">
                                                    <div class="o-svg-icon o-svg-icon-copy">
                                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M2 4C2 3.46957 2.21071 2.96086 2.58579 2.58579C2.96086 2.21071 3.46957 2 4 2H14C14.5304 2 15.0391 2.21071 15.4142 2.58579C15.7893 2.96086 16 3.46957 16 4V8H20C20.5304 8 21.0391 8.21071 21.4142 8.58579C21.7893 8.96086 22 9.46957 22 10V20C22 20.5304 21.7893 21.0391 21.4142 21.4142C21.0391 21.7893 20.5304 22 20 22H10C9.46957 22 8.96086 21.7893 8.58579 21.4142C8.21071 21.0391 8 20.5304 8 20V16H4C3.46957 16 2.96086 15.7893 2.58579 15.4142C2.21071 15.0391 2 14.5304 2 14V4ZM10 16V20H20V10H16V14C16 14.5304 15.7893 15.0391 15.4142 15.4142C15.0391 15.7893 14.5304 16 14 16H10ZM14 14V4H4V14H14Z" fill="#595959" />
                                                        </svg>
                                                    </div>
                                                    <div class="u-sr-accessible">
                                                        Copier la référence
                                                    </div>
                                                </span>
                                            </button>
                                            <div class="c-tooltip" id="tooltip-0" role="tooltip">
                                                <span>Copy to clipboard</span>
                                                <div class="c-tooltip__arrow" data-popper-arrow="data-popper-arrow"></div>
                                            </div>
                                        </h3>
                                    </div>
                                    <div class="c-panel__body u-padding-vertical">
                                        <p><span>Titulaire: </span><span>678362 - Marcel Pirnay</span></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="activite u-spacer-bottom-xl">
                            <h2 class="c-h3">Activité - Déclinaison 2</h2>
                            <div class="activite__list o-card-grid-l">
                                <a href="/" class="c-panel c-panel--border-r-sm">
                                    <div class="c-panel__header o-block u-padding-vertical-m">
                                        <h2 class="c-panel__title">
                                            <span>Référence: </span>
                                            <span id="ref-1">1000109831</span>
                                            <button class="c-button c-button--secondary c-button--xsmall c-button--icon u-spacer-left-xs o-flex-inline" type="button"
                                           data-action="copy" data-action-trad="copied" data-copy-content="#ref-1" data-tooltip="tooltip-1" data-tooltip-placement="right">
                                                <span class="c-button__content">
                                                    <div class="o-svg-icon o-svg-icon-copy">
                                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M2 4C2 3.46957 2.21071 2.96086 2.58579 2.58579C2.96086 2.21071 3.46957 2 4 2H14C14.5304 2 15.0391 2.21071 15.4142 2.58579C15.7893 2.96086 16 3.46957 16 4V8H20C20.5304 8 21.0391 8.21071 21.4142 8.58579C21.7893 8.96086 22 9.46957 22 10V20C22 20.5304 21.7893 21.0391 21.4142 21.4142C21.0391 21.7893 20.5304 22 20 22H10C9.46957 22 8.96086 21.7893 8.58579 21.4142C8.21071 21.0391 8 20.5304 8 20V16H4C3.46957 16 2.96086 15.7893 2.58579 15.4142C2.21071 15.0391 2 14.5304 2 14V4ZM10 16V20H20V10H16V14C16 14.5304 15.7893 15.0391 15.4142 15.4142C15.0391 15.7893 14.5304 16 14 16H10ZM14 14V4H4V14H14Z" fill="#595959" />
                                                        </svg>
                                                    </div>
                                                    <div class="u-sr-accessible">
                                                        Copier la référence
                                                    </div>
                                                </span>
                                            </button>
                                            <div class="c-tooltip" id="tooltip-1" role="tooltip">
                                                <span>Copy to clipboard</span>
                                                <div class="c-tooltip__arrow" data-popper-arrow="data-popper-arrow"></div>
                                            </div>
                                        </h2>
                                        <p>Expérience activités lorem ipsum CDI</p>
                                    </div>
                                    <div class="c-panel__body u-padding-vertical">
                                        <p class="u-spacer-bottom-xs"><span>Titulaire: </span><span>678362 - Marcel Pirnay</span></p>
                                        <p class="u-spacer-bottom-xs"><span>Label: </span><span>Valeur</span></p>
                                        <p class="u-spacer-bottom-xs"><span>Label: </span><span>Valeur</span></p>
                                    </div>
                                </a>
                                <a href="/" class="c-panel c-panel--border-r-sm">
                                    <div class="c-panel__header o-block u-padding-vertical-m">
                                         <h2 class="c-panel__title">
                                            <span>Référence: </span>
                                            <span id="ref-2">2000909831</span>
                                            <button class="c-button c-button--secondary c-button--xsmall c-button--icon u-spacer-left-xs o-flex-inline" type="button"
                                            data-action="copy" data-action-trad="copied" data-copy-content="#ref-2" data-tooltip="tooltip-2" data-tooltip-placement="right">
                                                <span class="c-button__content">
                                                    <div class="o-svg-icon o-svg-icon-copy">
                                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M2 4C2 3.46957 2.21071 2.96086 2.58579 2.58579C2.96086 2.21071 3.46957 2 4 2H14C14.5304 2 15.0391 2.21071 15.4142 2.58579C15.7893 2.96086 16 3.46957 16 4V8H20C20.5304 8 21.0391 8.21071 21.4142 8.58579C21.7893 8.96086 22 9.46957 22 10V20C22 20.5304 21.7893 21.0391 21.4142 21.4142C21.0391 21.7893 20.5304 22 20 22H10C9.46957 22 8.96086 21.7893 8.58579 21.4142C8.21071 21.0391 8 20.5304 8 20V16H4C3.46957 16 2.96086 15.7893 2.58579 15.4142C2.21071 15.0391 2 14.5304 2 14V4ZM10 16V20H20V10H16V14C16 14.5304 15.7893 15.0391 15.4142 15.4142C15.0391 15.7893 14.5304 16 14 16H10ZM14 14V4H4V14H14Z" fill="#595959" />
                                                        </svg>
                                                    </div>
                                                    <div class="u-sr-accessible">
                                                        Copier la référence
                                                    </div>
                                                </span>
                                            </button>
                                            <div class="c-tooltip" id="tooltip-2" role="tooltip">
                                                <span>Copy to clipboard</span>
                                                <div class="c-tooltip__arrow" data-popper-arrow="data-popper-arrow"></div>
                                            </div>
                                         </h2>
                                         <p>Expérience activités lorem ipsum CDI</p>
                                    </div>
                                    <div class="c-panel__body u-padding-vertical">
                                        <p class="u-spacer-bottom-xs"><span>Titulaire: </span><span>678362 - Marcel Pirnay</span></p>
                                        <p class="u-spacer-bottom-xs"><span>Label: </span><span>Valeur</span></p>
                                        <p class="u-spacer-bottom-xs"><span>Label: </span><span>Valeur</span></p>
                                    </div>
                                </a>
                                <a href="/" class="c-panel c-panel--border-r-sm">
                                    <div class="c-panel__header o-block u-padding-vertical-m">
                                         <h2 class="c-panel__title">
                                            <span>Référence: </span>
                                            <span id="ref-3">9823109831</span>
                                            <button class="c-button c-button--secondary c-button--xsmall c-button--icon u-spacer-left-xs o-flex-inline" type="button"
                                                    data-action="copy" data-action-trad="copied" data-copy-content="#ref-3" data-tooltip="tooltip-3" data-tooltip-placement="right">
                                                <span class="c-button__content">
                                                    <div class="o-svg-icon o-svg-icon-copy">
                                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M2 4C2 3.46957 2.21071 2.96086 2.58579 2.58579C2.96086 2.21071 3.46957 2 4 2H14C14.5304 2 15.0391 2.21071 15.4142 2.58579C15.7893 2.96086 16 3.46957 16 4V8H20C20.5304 8 21.0391 8.21071 21.4142 8.58579C21.7893 8.96086 22 9.46957 22 10V20C22 20.5304 21.7893 21.0391 21.4142 21.4142C21.0391 21.7893 20.5304 22 20 22H10C9.46957 22 8.96086 21.7893 8.58579 21.4142C8.21071 21.0391 8 20.5304 8 20V16H4C3.46957 16 2.96086 15.7893 2.58579 15.4142C2.21071 15.0391 2 14.5304 2 14V4ZM10 16V20H20V10H16V14C16 14.5304 15.7893 15.0391 15.4142 15.4142C15.0391 15.7893 14.5304 16 14 16H10ZM14 14V4H4V14H14Z" fill="#595959" />
                                                        </svg>
                                                    </div>
                                                    <div class="u-sr-accessible">
                                                        Copier la référence
                                                    </div>
                                                </span>
                                            </button>
                                            <div class="c-tooltip" id="tooltip-3" role="tooltip">
                                                <span>Copy to clipboard</span>
                                                <div class="c-tooltip__arrow" data-popper-arrow="data-popper-arrow"></div>
                                            </div>
                                         </h2>
                                         <p>Expérience activités lorem ipsum CDI</p>
                                    </div>
                                    <div class="c-panel__body u-padding-vertical">
                                        <p class="u-spacer-bottom-xs"><span>Titulaire: </span><span>678362 - Marcel Pirnay</span></p>
                                        <p class="u-spacer-bottom-xs"><span>Label: </span><span>Valeur</span></p>
                                        <p class="u-spacer-bottom-xs"><span>Label: </span><span>Valeur</span></p>
                                    </div>
                                </a>
                                <a href="/" class="c-panel c-panel--border-r-sm">
                                    <div class="c-panel__header o-block u-padding-vertical-m">
                                         <h2 class="c-panel__title">
                                            <span>Référence: </span>
                                            <span id="ref-4">9823109831</span>
                                            <button class="c-button c-button--secondary c-button--xsmall c-button--icon u-spacer-left-xs o-flex-inline" type="button"
                                                    data-action="copy" data-action-trad="copied" data-copy-content="#ref-4" data-tooltip="tooltip-4" data-tooltip-placement="right">
                                                <span class="c-button__content">
                                                    <div class="o-svg-icon o-svg-icon-copy">
                                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M2 4C2 3.46957 2.21071 2.96086 2.58579 2.58579C2.96086 2.21071 3.46957 2 4 2H14C14.5304 2 15.0391 2.21071 15.4142 2.58579C15.7893 2.96086 16 3.46957 16 4V8H20C20.5304 8 21.0391 8.21071 21.4142 8.58579C21.7893 8.96086 22 9.46957 22 10V20C22 20.5304 21.7893 21.0391 21.4142 21.4142C21.0391 21.7893 20.5304 22 20 22H10C9.46957 22 8.96086 21.7893 8.58579 21.4142C8.21071 21.0391 8 20.5304 8 20V16H4C3.46957 16 2.96086 15.7893 2.58579 15.4142C2.21071 15.0391 2 14.5304 2 14V4ZM10 16V20H20V10H16V14C16 14.5304 15.7893 15.0391 15.4142 15.4142C15.0391 15.7893 14.5304 16 14 16H10ZM14 14V4H4V14H14Z" fill="#595959" />
                                                        </svg>
                                                    </div>
                                                    <div class="u-sr-accessible">
                                                        Copier la référence
                                                    </div>
                                                </span>
                                            </button>
                                            <div class="c-tooltip" id="tooltip-4" role="tooltip">
                                                <span>Copy to clipboard</span>
                                                <div class="c-tooltip__arrow" data-popper-arrow="data-popper-arrow"></div>
                                            </div>
                                         </h2>
                                         <p>Expérience activités lorem ipsum CDI</p>
                                    </div>
                                    <div class="c-panel__body u-padding-vertical">
                                        <p class="u-spacer-bottom-xs"><span>Titulaire: </span><span>678362 - Marcel Pirnay</span></p>
                                        <p class="u-spacer-bottom-xs"><span>Label: </span><span>Valeur</span></p>
                                        <p class="u-spacer-bottom-xs"><span>Label: </span><span>Valeur</span></p>
                                    </div>
                                </a>
                                <a href="/" class="c-panel c-panel--border-r-sm">
                                    <div class="c-panel__header o-block u-padding-vertical-m">
                                        <h2 class="c-panel__title">
                                            <span>Référence: </span>
                                            <span id="ref-5">9823109831</span>
                                            <button class="c-button c-button--secondary c-button--xsmall c-button--icon u-spacer-left-xs o-flex-inline" type="button"
                                                    data-action="copy" data-action-trad="copied" data-copy-content="#ref-5" data-tooltip="tooltip-5" data-tooltip-placement="right">
                                                <span class="c-button__content">
                                                    <div class="o-svg-icon o-svg-icon-copy">
                                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M2 4C2 3.46957 2.21071 2.96086 2.58579 2.58579C2.96086 2.21071 3.46957 2 4 2H14C14.5304 2 15.0391 2.21071 15.4142 2.58579C15.7893 2.96086 16 3.46957 16 4V8H20C20.5304 8 21.0391 8.21071 21.4142 8.58579C21.7893 8.96086 22 9.46957 22 10V20C22 20.5304 21.7893 21.0391 21.4142 21.4142C21.0391 21.7893 20.5304 22 20 22H10C9.46957 22 8.96086 21.7893 8.58579 21.4142C8.21071 21.0391 8 20.5304 8 20V16H4C3.46957 16 2.96086 15.7893 2.58579 15.4142C2.21071 15.0391 2 14.5304 2 14V4ZM10 16V20H20V10H16V14C16 14.5304 15.7893 15.0391 15.4142 15.4142C15.0391 15.7893 14.5304 16 14 16H10ZM14 14V4H4V14H14Z" fill="#595959" />
                                                        </svg>
                                                    </div>
                                                    <div class="u-sr-accessible">
                                                        Copier la référence
                                                    </div>
                                                </span>
                                            </button>
                                            <div class="c-tooltip" id="tooltip-5" role="tooltip">
                                                <span>Copy to clipboard</span>
                                                <div class="c-tooltip__arrow" data-popper-arrow="data-popper-arrow"></div>
                                            </div>
                                        </h2>
                                        <p>Expérience activités lorem ipsum CDI</p>
                                    </div>
                                    <div class="c-panel__body u-padding-vertical">
                                        <p class="u-spacer-bottom-xs"><span>Titulaire: </span><span>678362 - Marcel Pirnay</span></p>
                                        <p class="u-spacer-bottom-xs"><span>Label: </span><span>Valeur</span></p>
                                        <p class="u-spacer-bottom-xs"><span>Label: </span><span>Valeur</span></p>
                                    </div>
                                </a>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

