@page
@model Smart.Design.Library.Showcase.Pages.Templates.SubscriptionModel
@{
    ViewData["Title"] = "Subscription page";
}

<main class="o-container-vertical">

    <div class="o-container o-container--small">

        <div class="u-spacer-bottom-xl">
            <smart-alert title="Session d'informations" message="<p>Pour une utilisation optimale des services que Smart met à votre disposition, il est vivement souhaitable et recommandé de participer à une session Smart : <a href='https://guide.smart.coop/'>mode d’emploi.</a></p>" is-closable="false"></smart-alert>
        </div>

        <div class="c-panel u-shadow-50">

            <div class="c-panel__body u-padding-vertical-l u-padding-bottom">

                <h3 class="c-h2 u-spacer-bottom-xl">Vos données personnelles</h3>

                <smart-form id="subscription">

                    <div class="o-grid">
                        <div class="o-grid-col-6">
                            <smart-formgroup label="Nom*">
                                <smart-input id="firstname" name="firstname" placeholder="John"></smart-input>
                            </smart-formgroup>
                        </div>
                        <div class="o-grid-col-6">
                            <smart-formgroup label="Prénom*">
                                <smart-input id="lastname" name="lastname" placeholder="Doe"></smart-input>
                            </smart-formgroup>
                        </div>
                    </div>

                    <smart-formgroup label="Sexe">
                        <smart-select id="subscriptionSexe" name="subscriptionSexe">
                            <option>M</option>
                            <option>F</option>
                        </smart-select>
                    </smart-formgroup>

                    <smart-formgroup label="Langue">
                        <smart-select id="subscriptionLanguage" name="subscriptionLanguage">
                            <option value="F">Français</option>
                            <option value="N">Néerlandais</option>
                            <!--<option>Allemand</option>
                            <option>Anglais</option>-->
                        </smart-select>
                    </smart-formgroup>

                    <smart-formgroup label="Adresse email*">
                        <smart-input id="email" name="email" placeholder="youremail@email.com" type="email" value=""></smart-input>
                    </smart-formgroup>

                    <smart-formgroup label="Numéro de téléphone">
                        <smart-input id="phone-number" name="phone-number" type="tel" placeholder="____ ______" value=""></smart-input>
                    </smart-formgroup>

                    <smart-formgroup label="Numéro de GSM">
                        <smart-input id="subscriptionMobile" name="subscriptionMobile" placeholder="____ ______" value=""></smart-input>
                    </smart-formgroup>

                    <smart-formgroup label="Date de naissance">
                        <smart-input-group id="subscriptionBirthdate" name="subscriptionBirthdate" placeholder="__/__/____" value="" align="End" icon="Calendar"></smart-input-group>
                    </smart-formgroup>

                    <smart-formgroup label="Ville de naissance">
                        <smart-input id="subscriptionBirthTown" name="subscriptionBirthTown" value=""></smart-input>
                    </smart-formgroup>

                    <smart-formgroup label="Etat civil">
                        <smart-select id="subscriptionCivilStatus" name="subscriptionCivilStatus">
                            <option>Marié.e</option>
                            <option>Célibataire</option>
                        </smart-select>
                    </smart-formgroup>

                    <smart-formgroup label="Nationalité">
                        <smart-select id="subscriptionNatinonality" name="subscriptionNatinonality">
                            <option>Belge</option>
                            <option>Espagnol</option>
                            <option>Neptunien</option>
                        </smart-select>
                    </smart-formgroup>

                    <smart-hr></smart-hr>

                    <h3 class="c-h2 u-spacer-bottom-xl">Adresse Officielle</h3>

                    <div class="o-grid">
                        <div class="o-grid-col-6">
                            <smart-formgroup label="Rue">
                                <smart-input id="subscriptionStreet" name="subscriptionStreet" placeholder="rue du joli bois"></smart-input>
                            </smart-formgroup>
                        </div>
                        <div class="o-grid-col-3">
                            <smart-formgroup label="Numéro">
                                <smart-input id="number" name="number" placeholder="44"></smart-input>
                            </smart-formgroup>
                        </div>
                        <div class="o-grid-col-3">
                            <smart-formgroup label="Boîte">
                                <smart-input id="subscriptionBox" name="subscriptionBox" placeholder="3"></smart-input>
                            </smart-formgroup>
                        </div>
                    </div>

                    <div class="o-grid">
                        <div class="o-grid-col-4">
                            <smart-formgroup label="Code postal">
                                <smart-input id="subscriptionZip" name="subscriptionZip" placeholder="4000"></smart-input>
                            </smart-formgroup>
                        </div>
                        <div class="o-grid-col-8">
                            <smart-formgroup label="Ville">
                                <smart-input id="subscriptionCity" name="subscriptionCity" placeholder="Liège"></smart-input>
                            </smart-formgroup>
                        </div>
                    </div>

                    <smart-formgroup label="Pays">
                        <smart-select id="subscriptionCountry" name="subscriptionCountry">
                            <option>Belgique</option>
                            <option>Espagne</option>
                            <option>Neptune</option>
                        </smart-select>
                    </smart-formgroup>

                    <smart-hr></smart-hr>

                    <h2 class="c-h2">Adresse Courrier</h2>

                    <div class="u-spacer-bottom">
                        <smart-radio id="subscriptionSameAddress" name="subscriptionAddressChoice" label="Mon adresse courrier est la même que mon adresse officielle" value="same_adress" checked="true"></smart-radio>
                    </div>
                    <div class="u-spacer-bottom-xl">
                        <smart-radio id="subscriptionAnotherAddress" name="subscriptionAddressChoice" label="Mon adresse courrier est différente de mon adresse officielle" value="same_address" checked="false"></smart-radio>
                    </div>

                    <h3 class="c-h2 u-spacer-bottom-xl">Vos données professionnelles</h3>

                    <smart-formgroup helper-text="Displine(s)\métier(s) que vous souhaitez développer au sein de Smart (étudiant.e ,artiste et chômeur n'est pas une fonction). Voir le registre des métiers." label="Fonctions principales">
                        <smart-input id="subscriptionFunction" name="subscriptionFunction" value=""></smart-input>
                    </smart-formgroup>

                    <smart-formgroup label="Pourcentage de précompte professionnel par défaut">
                        <smart-input-group id="subscriptionWitholding" name="subscriptionWitholding" placeholder="" value="" align="End" grouped-text="%"></smart-input-group>
                    </smart-formgroup>

                    <h3 class="c-h2 u-spacer-bottom-xl">Votre carte d'identité</h3>

                    <smart-formgroup label="Numéro de registre national ou inscription au registre des étrangers">
                        <smart-input id="subscriptionNumNat" name="subscriptionNumNat" value=""></smart-input>
                    </smart-formgroup>

                    <smart-formgroup label="N° carte identité">
                        <smart-input id="subscriptionNumCI" name="subscriptionNumCI" value=""></smart-input>
                    </smart-formgroup>

                    <div class="u-spacer-bottom-xl">
                        <smart-alert title="Envoi obligatoire" message="<p>Veuillez envoyer <strong>une copie de votre carte d'identité (recto & verso)</strong> en annexe à la fin des 3 étapes de ce formulaire</p>" is-closable="false"></smart-alert>
                    </div>

                    <smart-hr></smart-hr>

                    <h3 class="c-h2 u-spacer-bottom-xl">Vos données bancaires</h3>

                    <smart-formgroup label="Numéro IBAN de votre compte bacaire personnel">
                        <smart-input id="subscriptionNumIban" name="subscriptionNumIban" value=""></smart-input>
                    </smart-formgroup>

                    <div class="u-spacer-bottom-xl">
                        <smart-alert title="Envoi obligatoire" message="<p>Veuillez envoyer <strong>une copie de votre carte bancaire</strong> en annexe à la fin des 3 étapes de ce formulaire</p>" is-closable="false"></smart-alert>
                    </div>

                    <smart-hr></smart-hr>

                    <div class="u-spacer-bottom-xl">
                        <smart-radio id="subscriptionAutorisation" name="subscriptionAutorisation" label="J'autorise Smart à transmettre mes données à des tiers, à des fins professionnelles uniquement." value="same_address" checked="false"></smart-radio>
                    </div>
                    <p>
                        En savoir plus ?
                        <a class="c-link" href="mailto:autoriteprotectiondonnees.be">
                            <span class="c-link__label">autoriteprotectiondonnees.be</span>
                            <span class="o-svg-icon o-svg-icon-external-link">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14 5C13.7348 5 13.4804 4.89464 13.2929 4.70711C13.1054 4.51957 13 4.26522 13 4C13 3.73478 13.1054 3.48043 13.2929 3.29289C13.4804 3.10536 13.7348 3 14 3H20C20.2652 3 20.5196 3.10536 20.7071 3.29289C20.8946 3.48043 21 3.73478 21 4V10C21 10.2652 20.8946 10.5196 20.7071 10.7071C20.5196 10.8946 20.2652 11 20 11C19.7348 11 19.4804 10.8946 19.2929 10.7071C19.1054 10.5196 19 10.2652 19 10V6.414L9.707 15.707C9.5184 15.8892 9.2658 15.99 9.0036 15.9877C8.7414 15.9854 8.49059 15.8802 8.30518 15.6948C8.11977 15.5094 8.0146 15.2586 8.01233 14.9964C8.01005 14.7342 8.11084 14.4816 8.293 14.293L17.586 5H14ZM3 7C3 6.46957 3.21071 5.96086 3.58579 5.58579C3.96086 5.21071 4.46957 5 5 5H10C10.2652 5 10.5196 5.10536 10.7071 5.29289C10.8946 5.48043 11 5.73478 11 6C11 6.26522 10.8946 6.51957 10.7071 6.70711C10.5196 6.89464 10.2652 7 10 7H5V19H17V14C17 13.7348 17.1054 13.4804 17.2929 13.2929C17.4804 13.1054 17.7348 13 18 13C18.2652 13 18.5196 13.1054 18.7071 13.2929C18.8946 13.4804 19 13.7348 19 14V19C19 19.5304 18.7893 20.0391 18.4142 20.4142C18.0391 20.7893 17.5304 21 17 21H5C4.46957 21 3.96086 20.7893 3.58579 20.4142C3.21071 20.0391 3 19.5304 3 19V7Z" fill="#595959" />
                                </svg>
                            </span>
                        </a>
                    </p>

                    <div class="u-spacer-top-l u-spacer-bottom-s">
                        <smart-button button-style="Primary" trailing-icon="ArrowRight" label="Finaliser ma demande d’inscription"></smart-button>
                    </div>
                </smart-form>

            </div>
        </div>
    </div>
</main>
