@page
@model Smart.Design.Library.Showcase.Pages.Templates.SubscriptionModel
@{
    ViewData["Title"] = "Subscription page";
}

<main class="o-container-vertical">



    <div class="o-container o-container--small">


        <div class="u-spacer-bottom-xl">
            <smart-alert title="Session d'informations" message="<p>Pour une utilisation optimale des services que Smart met à votre disposition, il est vivement souhaitable et recommandé de participer à une session Smart : <a href='https://guide.smart.coop/'>mode d’emploi.</a></p>" is-closable="false"></smart-alert>
        </div>

        <div class="c-panel u-shadow-50">

            <div class="c-panel__body u-padding-vertical-l u-padding-bottom">

                <h3 class="c-h2 u-spacer-bottom-xl">Vos données personnelles</h3>

                <smart-form id="test">

                    <div class="o-grid">
                        <div class="o-grid-col-6">
                            <smart-formgroup label="Nom">
                                <smart-input-group id="firstname" name="firstname" placeholder="John"></smart-input-group>
                            </smart-formgroup>
                        </div>
                        <div class="o-grid-col-6">
                            <smart-formgroup label="Prénom">
                                <smart-input-group id="lastname" name="lastname" placeholder="Doe"></smart-input-group>
                            </smart-formgroup>
                        </div>
                    </div>

                    <smart-formgroup label="Sexe">
                        <smart-select>
                            <option>M</option>
                            <option>F</option>
                        </smart-select>
                    </smart-formgroup>

                    <smart-formgroup label="Langue">
                        <smart-select>
                            <option>Français</option>
                            <option>Néerlandais</option>
                            <option>Allemand</option>
                            <option>Anglais</option>
                        </smart-select>
                    </smart-formgroup>

                    <smart-formgroup label="Email">
                        <smart-input-group id="email" name="email" placeholder="youremail@email.com" value="" align="End" icon="Email"></smart-input-group>
                    </smart-formgroup>

                    <smart-formgroup label="Numéro de téléphone">
                        <smart-input-group id="phone-number" name="phone-number" placeholder="____ ______" value=""></smart-input-group>
                    </smart-formgroup>

                    <smart-formgroup label="Numéro de GSM">
                        <smart-input-group id="mobile-phone-number" name="InputgroupName" placeholder="____ ______" value=""></smart-input-group>
                    </smart-formgroup>

                    <smart-formgroup label="Date de naissance">
                        <smart-input-group id="birthdate" name="InputgroupName" placeholder="__/__/____" value="" align="End" icon="Calendar"></smart-input-group>
                    </smart-formgroup>

                    <smart-formgroup label="Ville de naissance">
                        <smart-input-group id="birth-town" name="InputgroupName" value=""></smart-input-group>
                    </smart-formgroup>

                    <smart-formgroup label="Etat civil">
                        <smart-select>
                            <option>Marié.e</option>
                            <option>Célibataire</option>
                        </smart-select>
                    </smart-formgroup>

                    <smart-formgroup label="Nationalité">
                        <smart-select>
                            <option>Belge</option>
                            <option>Espagnol</option>
                            <option>Neptunien</option>
                        </smart-select>
                    </smart-formgroup>

                    <smart-hr></smart-hr>

                    <h3 class="c-h2 u-spacer-bottom-xl">Adresse Officielle</h3>

                    <div class="o-grid">
                        <div class="o-grid-col-6">
                            <smart-formgroup label="Rue">
                                <smart-input-group id="street" name="street" placeholder="rue du joli bois"></smart-input-group>
                            </smart-formgroup>
                        </div>
                        <div class="o-grid-col-3">
                            <smart-formgroup label="Numéro">
                                <smart-input-group id="number" name="number" placeholder="44"></smart-input-group>
                            </smart-formgroup>
                        </div>
                        <div class="o-grid-col-3">
                            <smart-formgroup label="Boîte">
                                <smart-input-group id="box" name="mail-box" placeholder="3"></smart-input-group>
                            </smart-formgroup>
                        </div>
                    </div>

                    <div class="o-grid">
                        <div class="o-grid-col-4">
                            <smart-formgroup label="Code postal">
                                <smart-input-group id="zip-code" name="zip-code" placeholder="4000"></smart-input-group>
                            </smart-formgroup>
                        </div>
                        <div class="o-grid-col-8">
                            <smart-formgroup label="Ville">
                                <smart-input-group id="city" name="city" placeholder="Liège"></smart-input-group>
                            </smart-formgroup>
                        </div>
                    </div>

                    <smart-formgroup label="Pays">
                        <smart-select>
                            <option>Belgique</option>
                            <option>Espagne</option>
                            <option>Neptune</option>
                        </smart-select>
                    </smart-formgroup>

                    <smart-hr></smart-hr>

                    <h2 class="c-h2">Adresse Courrier</h2>

                    <div class="u-spacer-bottom">
                        <smart-radio name="same_address" id="same_adress" label="Mon adresse courrier est la même que mon adresse officielle" value="same_adress" checked="true"></smart-radio>
                    </div>
                    <div class="u-spacer-bottom-xl">
                        <smart-radio name="same_address" id="same_address1" label="Mon adresse courrier est différente de mon adresse officielle" value="same_address" checked="false"></smart-radio>
                    </div>

                    <h3 class="c-h2 u-spacer-bottom-xl">Vos données professionnelles</h3>

                    <smart-formgroup helper-text="Displine(s)\métier(s) que vous souhaitez développer au sein de Smart (étudiant.e ,artiste et chômeur n'est pas une fonction). Voir le registre des métiers." label="Fonctions principales">
                        <smart-input-group id="professionals-activities" name="InputgroupName" value=""></smart-input-group>
                    </smart-formgroup>

                    <smart-formgroup label="Pourcentage de précompte professionnel par défaut">
                        <smart-input-group id="default-withholding-tax-percentage" name="InputgroupName" placeholder="" value="" align="End" grouped-text="%"></smart-input-group>
                    </smart-formgroup>

                    <h3 class="c-h2 u-spacer-bottom-xl">Votre carte d'identité</h3>

                    <div class="u-spacer-top-l u-spacer-bottom-s">
                        <smart-button button-style="Primary" trailing-icon="ArrowRight" label="Finaliser ma demande d’inscription"></smart-button>
                    </div>
                </smart-form>
            </div>
        </div>
    </div>
</main>
