@page
@model Smart.Design.Library.Showcase.Pages.Components.Header.NotLoggedInHeaderModel
@{
    ViewData["MainTitle"] = "Components documentation";
    ViewData["ComponentTitle"] = "Not Logged In Header";

}

@{
    Dictionary<string, string> languagesAndLink = new Dictionary<string, string>{
                {
                "French", "?SelectedMenu=French"
                },{
                "Dutch", "?SelectedMenu=Dutch"
                }
                };

}
<div class="u-padding-bottom-l">
    <h1 class="c-d-h2">@ViewData["MainTitle"]</h1>
</div>
<!--Some style to override the position:fixed of the header-->
<style>
    header.u-position-fixed {
        position: sticky !important
    }
</style>

<div class="o-grid">
    @await Html.PartialAsync("Shared/_ComponentList")
    <div class="o-grid-col-bp3-9">
        <div class="br-componentgroup-header-wrapper">
            <h1 class="br-componentgroup-header c-d-h2">@ViewData["ComponentTitle"]</h1>
        </div>
        <div class="br-content c-content">
            <p>
                This describes the Header when the user is not logged in yet.
            </p>
        </div>
        <div class="br-sample" id="component-01-c-button-primary">
            <div class="br-sample-header br-sample-clearfix u-spacer-top-xl">
                <h3 class="br-sample-heading c-h3">Header when user is not logged in</h3>
            </div>
            <div class="br-sample-content">
                <div class="c-app-layout">
                    <smart-not-logged-in-header home-page-url="https://smartbe.be" languages-and-links="@languagesAndLink" target-language="fr"></smart-not-logged-in-header>
                </div>
            </div>
            <div class="br-sample-footer">
                <b>C# Code: </b>
                <pre class="br-sample-markup br-sample-markup-csharp">@("<smart-not-logged-in-header home-page-url=\"\" languages-and-links=\"@languagesAndLink\" target-language=\"fr\"></smart-not-logged-in-header>")</pre>
            </div>

            <div class="br-componentgroup-footer-wrapper">
                <h1 class="br-componentgroup-footer c-d-h2">Possible parameters for Not logged In Header</h1>
                <div class="br-content c-content">
                    <table class="c-table">
                        <thead>
                            <tr>
                                <th>Parameters</th>
                                <th>Type</th>
                                <th>Possible values</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>homePageUrl *</td>
                                <td>string</td>
                                <td></td>
                                <td>Represents the link to "Home"</td>
                            </tr>
                            <tr>
                                <td>languagesAndLinks *</td>
                                <td>Dictionary string, string</td>
                                <td></td>
                                <td>Represents the language menu</td>
                            </tr>
                            <tr>
                                <td>targetLanguage</td>
                                <td>string?</td>
                                <td></td>
                                <td>Represents the language</td>
                            </tr>                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
