@page
@model Smart.Design.Razor.Showcase.Pages.Components.InputGroup.InputGroup
@{
    ViewData["MainTitle"] = "Components documentation";
    ViewData["ComponentTitle"] = "InputGroup";
}

<div class="u-padding-bottom-l">
    <h1 class="c-d-h2">@ViewData["MainTitle"]</h1>
</div>


<div class="o-grid">
    @await Html.PartialAsync("Shared/_ComponentList")
    <div class="o-grid-col-bp3-9">
        <div class="br-componentgroup-header-wrapper">
            <h1 class="br-componentgroup-header c-d-h2">@ViewData["ComponentTitle"]</h1>
            <p><b>Status:</b> Complete</p>
        </div>
        <div class="br-content c-content">
            <div class="br-sample-documentation c-content">
                <p>See : <a href="https://design.smart.coop/development/docs/c-input-group.html">https://design.smart.coop/development/docs/c-input-group.html</a></p>
            </div>
        </div>
        <div class="br-sample" id="component-01-c-inputgroup">
            <div class="br-sample-header br-sample-clearfix">
                <h3 class="br-sample-heading c-h3">Input group with prepend</h3>
                <a class="br-sample-header-link" href="#component-01-c-inputgroup">#</a>
            </div>
            <div class="br-sample-documentation c-content">
                <p></p>
            </div>
            <div class="br-sample-content">
                <smart-input-group id="textInputgroupId" name="InputgroupName" placeholder="The placeholder" value="" align="Start" icon="BarChart"></smart-input-group>
            </div>
            <div class="br-sample-footer">
                <b>C# Code: </b>
                <pre class="br-sample-markup br-sample-markup-csharp">@("<smart-input-group id=\"textInputgroupId\" name=\"InputgroupName\" placeholder=\"The placeholder\" value=\"\" align=\"Start\" icon=\"BarChart\" ></smart-input-group>")</pre>
            </div>
            <div class="br-sample" id="component-02-c-inputgroup">
                <div class="br-sample-header br-sample-clearfix">
                    <h3 class="br-sample-heading c-h3">Input group with append</h3>
                    <a class="br-sample-header-link" href="#component-02-c-inputgroup">#</a>
                </div>
                <div class="br-sample-content">
                    <p class="c-menu__item--danger"><smart-input-group id="textInputgroupId" name="InputgroupName" placeholder="The placeholder" value="" align="End" grouped-text="AB"></smart-input-group></p>
                </div>
                <div class="br-sample-footer">
                    <b>C# Code: </b>
                    <pre class="br-sample-markup br-sample-markup-csharp">@("<smart-input-group id=\"textInputgroupId\" name=\"InputgroupName\" placeholder=\"The placeholder\" value=\"\" align=\"End\" grouped-text=\"AB\" ></smart-input-group>")</pre>
                </div>
            </div>
        </div>
        <div class="br-componentgroup-footer-wrapper">
            <h1 class="br-componentgroup-footer c-d-h2">Possible parameters for Inputgroup</h1>
            <div class="br-content c-content">
                <table class="c-table">
                    <thead>
                        <tr>
                            <th>Parameters</th>
                            <th>Type</th>
                            <th>Possible values</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>id</td>
                            <td>string</td>
                            <td>Id attribute of the element</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>name</td>
                            <td>string</td>
                            <td>
                                Name attribute of the element
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>value</td>
                            <td>string</td>
                            <td>
                                Value of the input
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>placeholder</td>
                            <td>string</td>
                            <td>Placeholder of the input.</td>
                            <td>Describes the expected value of an input field.</td>
                        </tr>
                        <tr>
                            <td>for</td>
                            <td>ModelExpression</td>
                            <td></td>
                            <td>The ModelExpression associated to the html element.</td>
                        </tr>
                        <tr>
                            <td>icon</td>
                            <td>an icon in the collection of icons</td>
                            <td>Determine the icon</td>
                            <td>It must be an icon OR a text (not both)</td>
                        </tr>
                        <tr>
                            <td>grouped-text</td>
                            <td>string</td>
                            <td>Determine a short text</td>
                            <td>It must be an icon OR a grouped-text (not both)</td>
                        </tr>
                        <tr>
                            <td>alignment</td>
                            <td><code>Start</code> | <code>End</code></td>
                            <td>Determine the place of the icon or the grouped-text</td>
                            <td>Can be aligned at the start or the end of the input group</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
