@page
@model Smart.Design.Library.Showcase.Pages.Components.TabItem.TabItem
@{
    ViewData["MainTitle"] = "Components documentation";
    ViewData["ComponentTitle"] = "Tab item";
}

<div class="u-padding-bottom-l">
    <h1 class="c-d-h2">@ViewData["MainTitle"]</h1>
</div>


<div class="o-grid">
    @await Html.PartialAsync("Shared/_ComponentList")
    <div class="o-grid-col-bp3-9">
        <div class="br-componentgroup-header-wrapper">
            <h1 class="br-componentgroup-header c-d-h2">@ViewData["ComponentTitle"]</h1>
            <p><b>Status:</b> Incomplete</p>
        </div>
        <div class="br-content c-content">
            <p class="c-menu__item--danger">Difficulté pour utiliser le taghelper en l'état.<br />Doit être vérifié au niveau du Taghelper même.<br />Pas de connaissance d'utilisation dans nos applications (fev 2023)<br />A rapprocher des pages <a href="../Tab/Tab">Tab</a>, <a href="../TabSection/TabSection">Tabsection</a>, et <a href="../TabItems/TabItems">Tabitems</a></p>
        </div>

    </div>
</div>
