@page
@model Smart.Design.Library.Showcase.Pages.Templates.Dialog.DialogTestModel
@using Kendo.Mvc.UI
@addTagHelper *, Kendo.Mvc
@{
    ViewData["Title"] = "Dialog box page";
}
<div class="c-app-layout">


    <main class="u-maximize-width">
        Hello world
    </main>

</div>
