@page
@model Smart.Design.Library.Showcase.Pages.Components.GridListRow.GridListRow
@{
    ViewData["MainTitle"] = "Components documentation";
    ViewData["ComponentTitle"] = "Grid list row";
}

<div class="u-padding-bottom-l">
    <h1 class="c-d-h2">@ViewData["MainTitle"]</h1>
</div>


<div class="o-grid">
    @await Html.PartialAsync("Shared/_ComponentList")
    <div class="o-grid-col-bp3-9">
        <div class="br-componentgroup-header-wrapper">
            <h1 class="br-componentgroup-header c-d-h2">@ViewData["ComponentTitle"]</h1>
            <p><b>Status:</b> Caution</p>
        </div>
        <div class="br-content c-content">
            <div class="br-sample-documentation c-content c-menu__item--danger">
                <p>This is a part of <a href="/Components/GridList/GridList">TagHelper GridList</a></p>
            </div>
        </div>
    </div>
</div>
