/* ==========================================================================
Component: app layout
========================================================================== */

.c-app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  main{
    background-color: $color-gray-50;
    height: 100%;
    flex: 1;
  }
}

.c-app-layout-inner {
  height: 100%;

  @media (max-width: ($g-bp2 - 1px)) {
    // Make full screen scrollable on mobile, mobile navigation pattern needs to be revised in the future
    overflow-y: auto;
  }

  @media (min-width: $g-bp2) {
    display: flex;
  }
}

.c-app-layout-inner__sidebar {
    display: none;
    top: 53px;
    @extend .u-position-fixed;
    background-color: $color-white;
    width: 100%;
    position: absolute;
    z-index: 11111;
    flex: 0 0 auto;
    padding: 1.125rem;
    margin-top: 0;
    border-bottom-right-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
    box-shadow: 0 3px 2px transparentize($color-gray-50, .60);

    @media (min-width: $g-bp2) {
        display: block;
        top: 4rem;
        border-top-right-radius: 0.375rem;
        width: $g-sidebar-width-m;
        position: relative;
        z-index: inherit;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        box-shadow: none;
        height: 100%;
    }

    @media (min-width: $g-bp3-m) {
        padding: 1.5rem;
    }

    @media (min-width: $g-bp4) {
        width: $g-sidebar-width-l;
    }
}

.c-app-layout-inner__sidebar + .c-app-layout-inner__content {
  @media (min-width: $g-bp2) {
    margin-left: $g-sidebar-width-m;
    .c-navbar{
      padding-left: 0;
      margin-left: 0.125rem;
      .c-toolbar{
        border-bottom-left-radius: 0.375rem;
        border-top-left-radius: 0.375rem;
      }
      &.main-title{
        left: $g-sidebar-width-m;
      }
    }
  }
  @media (min-width: $g-bp4) {
    margin-left: $g-sidebar-width-l;
    .c-navbar.main-title{
      left: $g-sidebar-width-l;
    }
  }
}

.c-app-layout-inner__content {
    margin-top: 0;
    width: 100%;
    height: 100%;
    flex: 1;

    .c-navbar {
        height: auto;
        border-bottom: 2px solid $color-gray-50;

        .c-toolbar {
            // height: 4rem;
            background: white;
        }
    }

    @media (min-width: $g-bp2) {
        margin-top: 3.875rem;

        .c-navbar {
            border-top: 2px solid $color-gray-50;

            &.u-position-fixed.main-title {
                top: 3.875rem;

                & + div {
                    margin-top: 3.875rem;
                }
            }

            &.u-position-fixed.collapsing {
                & + div {
                    margin-top: 12.75rem;
                }
            }
        }
    }

    @media (min-width: $g-bp3-m) {
        margin-top: 3.875rem;

        .c-navbar {
            padding-left: 0;
            position: fixed;

            .c-toolbar {
                height: 3.875rem;
            }

            &.u-position-fixed.main-title {
                top: 3.875rem;

                & + div {
                    margin-top: 7.75rem;
                }
            }

            &.u-position-fixed.main-title, &.u-position-fixed.collapsing {
                & + div {
                    margin-top: 4.375rem;
                }
            }
        }
    }
}
