/* ==========================================================================
  c-alert
  ---
  Use alerts for messaging across the application.
  ---
  Rules of this file: this file is ONLY for layout, please see alert-skins.scss for colors
   ========================================================================== */

/* Variables
   ========================================================================== */

$c-alert-border-radius: 0.1875rem !default;

/* Component
      ========================================================================== */

.c-alert {
  padding: ($g-spacer-unit * 3);
  border-radius: $c-alert-border-radius;
  display: flex;
  align-items: flex-start;
  width: 100%;
  flex-flow: row wrap;

  > * {
    flex-basis: auto;
  }

  .c-button--icon:last-child {
    cursor: pointer;
    padding: 0.375rem;
    margin: -0.375rem;
  }
  
  .c-alert__message{
    .c-button--icon{
      padding: 0.0625rem;
      margin: 0.1875rem;
    }
  }

  &+.c-alert {
    margin-top: $g-spacer-unit * 2;
  }
}

.c-alert__body {
  display: flex;
  flex: 1;

  &:not(:first-child) {
    margin-left: $g-spacer-unit * 2;
  }

  &:not(:last-child) {
    margin-right: $g-spacer-unit * 2;
  }
}

.c-alert.c-alert--medium {
  max-width: 41.25rem;
}

.c-alert.c-alert--large {
  max-width: 55rem;
}

.c-alert__message .c-content p:only-child {
  margin: 0;
}

.c-alert.c-alert--full {
  max-width: none;
  margin: $g-spacer-unit * 2;
}
