/* ==========================================================================
  c-blog-article
   ========================================================================== */

.c-blog-article__header {
  margin-bottom: 1.125rem;
  h1, h2 {
    margin: 0;
  }
  p {
    margin: 0.375rem 0 0;
    color: $color-semantic-muted-text;
  }
  a {
    color: $g-headings-color;
  }
}
