/* ==========================================================================
  c-bordered-list-horizontal
   ========================================================================== */

.c-bordered-list-horizontal {

  display: flex;

  li {
    border-right: 0.0625rem solid $color-gray-200;
    &:last-child {
      border: none;
    }
    a, span {
      display: block;
      padding: 0.25rem 0.5rem;
    }
  }
}

.c-bordered-list-horizontal--muted {
  a {
    color: $color-semantic-muted-text;
  }
}
