/* ==========================================================================
  Component: c-citation
  ---
  Citation windows
   ========================================================================== */


/* Component
   ========================================================================== */

.c-citation{
  background-color: $color-gray-25;
  padding: 1.375rem 1.25rem 1.25rem 2.5rem;
  border-radius: $g-border-radius-small;
  h4{
    position: relative;
    display: block;
    margin-bottom: 0.5rem;
    &:after{
      content: "";
      display: block;
      position: absolute;
      width: 1.75rem;
      height: 1px;
      left: -2.8125rem;
      top: 0.8125rem;
      background-color: $color-blue-600;
    }
  }
  p{
    margin: 0.5rem 0.5rem 0.25rem 0;
  }

  @media (min-width: $g-bp1) {
    padding: 1.375rem 1.25rem 1.25rem 3.75rem;
    h4{
      &:after{
        width: 2.5rem;
        left: -4.0625rem;
      }
    }
    p{
      margin: 0.5rem 1.25rem 0.25rem 0;
    }
  }
}