/* ==========================================================================
  c-or
  Decorated "or"
 ========================================================================== */

.c-or {
  position: relative;
  width: 100%;
  text-align: center;
  margin: 1.5rem 0;

  span {
    background: #FFF;
    padding: 0.625rem;
    z-index: 2;
    position: relative;
  }

  &:after {
    content: " ";
    position: absolute;
    top: 0.75rem;
    left: 0;
    right: 0;
    width: 100%;
    border-top: 0.0625rem solid $color-semantic-border;
  }
}
