/* ==========================================================================
  Component: Toolbar-title
  ========================================================================== */

.c-toolbar-title {
  font-size: 1.25rem;
  font-weight: 500;
}

.c-toolbar-title--small {
  font-size: 1rem;
}
