/* ==========================================================================
  Object: SVG Icon
  ---
  Styling for auto-embedded SVG icons
   ========================================================================== */

/* Variables
   ========================================================================== */

$o-svg-icon-size-huge: 3rem !default;
$o-svg-icon-size-large: 2rem !default;
$o-svg-icon-size: 1.5rem !default;
$o-svg-icon-size-small: 1.25rem !default;

/* Object
   ========================================================================== */

.o-svg-icon {
  display: block;
  width: $o-svg-icon-size;
  height: $o-svg-icon-size;

  svg {
    display: block;
    height: 100%;
    width: 100%;
  }

  &:not(.o-svg-icon-multicolor) svg * {
    fill: currentColor;
  }
}

.icon-help {
  .o-svg-icon {
    display: inline;
  }
  svg {
    vertical-align: middle;
    max-width: 1.5rem;
    max-height: 1.5rem;
    display: inline;
    color: #666;
  }
}

.icon-help {
  .o-svg-icon {
    display: inline;
  }

  svg {
    vertical-align: middle;
    max-width: 1.5rem;
    max-height: 1.5rem;
    display: inline;
    color: #666;
  }
}

.o-svg-icon[class*="o-svg-icon-narrow-"] {
  width: 0.625rem;
  height: 1.25rem;
}

.o-svg-icon--large {
  width: $o-svg-icon-size-large;
  height: $o-svg-icon-size-large;
}

.o-svg-icon--huge {
  width: $o-svg-icon-size-huge;
  height: $o-svg-icon-size-huge;
}

.o-svg-icon--small {
  width: $o-svg-icon-size-small;
  height: $o-svg-icon-size-small;
}

/**
 * Color Variations
 * ---
 */

.o-svg-icon--green {
  color: $color-green-500;
}

.o-svg-icon--red {
  color: $color-red-600;
}

.o-svg-icon--white {
  color: white;
}

.o-svg-icon--subtle {
  color: $color-gray-400;
}
